@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@config '../tailwind.config.js';
@plugin 'tailwindcss-animate';
@source '../node_modules/fumadocs-ui/dist*.js';

.sdk {
    --primary: var(--sdk-color);
}

:root {
    --sdk-color: 195 100% 50%;
}

.dark {
    --sdk-color: 195 100% 50%;
}

/*
Uncomment only if topbar from <HomeLayout/> is present
*/
[data-toc] {
    top: 48px;
}

h1 {
    font-family: owners, sans-serif;
}

/* a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, option {
  font-family: owners, sans-serif;
} */

/* #nd-sidebar>div>div>button:first-of-type {
  display: none;
} */

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 194.4 100% 4.9%;

        --primary: 195.06 100% 50%;
        --primary-foreground: 194.4 100% 4.9%;

        --card: 193.85 100% 97.45%;
        --card-foreground: 194.4 100% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 194.4 100% 4.9%;

        --secondary: 195.79 100% 92.55%;
        --secondary-foreground: 0 0% 0%;

        --muted: 194.4 100% 95.1%;
        --muted-foreground: 0 0% 40%;

        --accent: 194.4 100% 95.1%;
        --accent-foreground: 194.21 100% 7.45%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 195.29 100% 90%;
        --input: 195 33.33% 81.18%;
        --ring: 195.06 100% 50%;

        --chart-1: 195.06 100% 50%;
        --chart-2: 194.93 100% 57.45%;
        --chart-3: 195.18 100% 67.45%;
        --chart-4: 195 100% 72.55%;
        --chart-5: 195.13 100% 77.45%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 0%;
        --foreground: 190 100% 98.82%;

        --primary: 195.06 100% 50%;
        --primary-foreground: 194.4 100% 4.9%;

        --card: 216 26.32% 7.45%;
        --card-foreground: 195.79 100% 92.55%;

        --popover: 0 0% 0%;
        --popover-foreground: 195.79 100% 92.55%;

        --secondary: 194.83 100% 17.45%;
        --secondary-foreground: 0 0% 100%;

        --muted: 0 0% 9.8%;
        --muted-foreground: 0 0% 69.8%;

        --accent: 194.83 100% 17.45%;
        --accent-foreground: 195.79 100% 92.55%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 195.29 100% 10%;
        --input: 196.15 25.49% 20%;
        --ring: 195.06 100% 50%;

        --chart-1: 195.06 100% 50%;
        --chart-2: 195.21 100% 42.55%;
        --chart-3: 195.18 100% 32.55%;
        --chart-4: 195 100% 27.45%;
        --chart-5: 195.13 100% 22.55%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    #nd-nav {
        @apply fixed left-1/2 top-[var(--fd-banner-height)] z-40 w-full -translate-x-1/2 border-b border-border transition-colors bg-fd-background/80 backdrop-blur-lg rounded-none max-w-full mt-0 shadow-none border-t-0 border-x-0;
    }

    #nd-nav nav {
        @apply max-w-fd-container mx-auto font-medium;
    }
}

/* Media queries */
@media (min-width: 768px) {
    #nd-sidebar {
        top: 48px;
        height: calc(100vh - 48px);
        background-color: transparent;
    }

    /* #nd-sidebar > div > div:first-child {
        display: none;
    } */
}
